*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
}

.container{
    padding-top: 77px;
    margin: 0 auto;
    width: 900px;
}

.menu{
    margin: 0 auto;
    text-align: center;
    list-style: none;
    font-size: 0;
}

.menu>li{
    display: inline-block;
    margin-left: 120px;
}

menu>li:last-child{
    margin-right: 0;
}

a{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14px;
    color: rgba(98, 98, 98, 255);
    text-decoration: none;
}

.link{
    display: block;
}

section{
    font-size: 0;
    padding-bottom: 77px;
}

article{
    width: 420px;
    display: inline-block;
    margin-right: 50px;
}

.step{
    margin-right: 0;
}

img{
    height: 280px;
    width: 420px;
    margin-bottom: 0;
}

p{
    font-family: ﻿Ubuntu-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14pt;
    color: rgba(180, 173, 158, 255);
    text-align: left;
    margin-top: 32px;
}

h2{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 30pt;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    margin-top: 34px;
}

.text{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14pt;
    color: rgba(98, 98, 98, 255);
    text-align: left;   
    margin-top: 34px;
    margin-bottom: 150px;
}

button{
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 20pt;
    color: rgba(98, 98, 98, 255);
    text-align: left;
    display: block;
    margin: 0 auto;
}