@font-face{
    font-family: 'Acrom-Bold';
    src: url(/project/src/fonts/Acrom-Bold.woff);
    src: url(/project/src/fonts/Acrom-Bold.ttf);
    font-weight: bold;
    font-size: normal;
}

@font-face{
    font-family: 'Acrom-ExtraBold';
    src: url(/project/src/fonts/Acrom-ExtraBold.woff);
    src: url(/project/src/fonts/Acrom-ExtraBold.ttf);
    font-weight: bold;
    font-size: normal;
}

@font-face{
    font-family: 'Acrom-Light';
    src: url(/project/src/fonts/Acrom-Light.woff);
    src: url(/project/src/fonts/Acrom-Light.ttf);
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: 'Acrom-Medium';
    src: url(/project/src/fonts/Acrom-Medium.woff);
    src: url(/project/src/fonts/Acrom-Medium.ttf);
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: 'Acrom-Regular';
    src: url(/project/src/fonts/Acrom-Regular.woff);
    src: url(/project/src/fonts/Acrom-Regular.ttf);
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: 'Acrom-Thin';
    src: url(/project/src/fonts/Acrom-Thin.woff);
    src: url(/project/src/fonts/Acrom-Thin.ttf);
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: 'Montserrat_Bold';
    src: url(/project/src/fonts/MontserratSubrayada-Bold.ttf);
    font-weight: bold;
    font-size: normal;
}