$bg-color: #EDF0F2;
$primery-color: #00EAFF;
$secondary-color: #F9AE23;
$white-color: #FFFFFF;
$black-color: #000000;
$gray-color: #A2A2A2;
$base-font-color: #5D6066;
$accent-font-color: #222222;
$primary-font-stack: 'Acrom-ExtraBold', sans-serif;
$accent-font-stack: 'Acrom-Bold', sans-serif;
$secondary-font-stack: 'Acrom-Regular', sans-serif;
$medium-font-stack: 'Acrom-Medium', sans-serif;
$base-font-stack: 'Acrom-Thin', sans-serif;
$light-font-stack: 'Acrom-Light', sans-serif;