$bg-color: #EDF0F2;
$primery-color: #00EAFF;
$secondary-color: rgba(255, 107, 8, 0.59);
$white-color: #FFFFFF;
$black-color: #000000;
$gray-color: #A2A2A2;
$base-font-color: #5D6066;
$accent-font-color: #222222;
$font-color: rgba(34, 34, 34, 255);
$primary-font-stack: 'Acrom';
$montserrat-bold: 'Montserrat_Bold';