.link{
    display: block;
    text-decoration: none;
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.text{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}