.services{
    @extend %services;
 }
 
 .section__subtitle{
     @extend %section__subtitle;
 }
 
 .section__title{
    @extend %section__title;
    &::after{
     display: block;
     content: '';
     width: $title_after_width;
     height: 3px;
     margin: auto;
     background-color: $secondary-color;
     margin-top: $margin-top + 28;   
 }
 }

 .team{
    margin: 0 auto;
    padding-bottom: $padding-bottom + 6;
    text-align: center;
    line-height: 1.2;
    width: $base-size + 224;
}

.section__text{
    width: $base-size - 60;
    margin: 0 auto;
    font-family: $font-roboto;
    font-size: $font-base-size;
    color: $color-services;
    margin-bottom: $margin-bottom + 64;
}

.team__list{
    display: flex;
    justify-content: space-between;
}

.team__title{
    margin: 30px 0 15px;
    font-family: $font-montserrat;
    font-size: $font-base-size;
    color: $color-page-container;
    text-transform: uppercase;
}

.team__text{
    font-family: $font-roboto;
    font-size: $font-base-size;
    color: $color-services;
}

.overlay{
    position: absolute;
    width: $width-overlay;
    height: $height-overlay;
    opacity: 0; 
    z-index: 1;
    background-image: linear-gradient( to bottom, $secondary-color 0%, $primary-color 100% );
    transition: transform 0.2s linear opacity 0.2s linear;
}

.team__item:hover .overlay{
    opacity: 1;
    transform: translate(-10px, -10px);
    box-shadow:  10px 10px $color-blue;
}

.team__img{
    transition: transform 0.2s linear;
}

.team__item:hover .team-list-img{
    transform: translate(-10px, -10px);
}

.overlay-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.overlay__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: $size-overlay-link;
    height: $size-overlay-link;
    background-color: $primary-color;
}

.overlay-list a:hover svg{
    background-color: $secondary-color;
    fill: $color-white;
}

.overlay-list a:hover{
    background-color: $secondary-color;
}

.overlay-list svg{
    display: inline-block;
    width: $size-svg;
    height: $size-svg;
    fill: $secondary-color;
}