@font-face{
    font-family: 'Kaushanscript', cursive;
    src: url(../font/Kaushan_Script/KaushanScript-Regular.ttf);
    font-weight: 500;
    font-size: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url(../font/montserrat-v13-latin-regular.woff;);
    src: url(../font/montserrat-v13-latin-regular.woff2);
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url(../font/roboto-v19-latin-regular.woff);
    src: url(../font/roboto-v19-latin-regular.woff2);
    font-weight: normal;
    font-size: normal;
}