$primary-color: rgba(252, 227, 138, 0.9);
$secondary-color: rgba(243, 129, 129, 0.9);
$color-blue: rgba( 149, 225, 211, 0.9 );
$color-white: #ffffff;
$color-violet: #f9c6c6;
$color-footers-element: #D6D6D6;
$color-page-container: rgba(51, 51, 51, 255);
$font_kaushan: "Kaushan_Script";
$font-montserrat: "Montserrat-Bold", "Montserrat-Regular", sans-serif;
$base-size: 1000px;
$primary_size: 100%;
$padding: 20px; 
$height: 80px;
$width-overlay: 382px;
$height-overlay: 472px;
$size-overlay-link: 56px;
$size-svg: 30px;
$margin-bottom: 22px;
$margin-top: 14px;
$padding-left: 62px;
$padding-bottom: 80px;
$padding-top: 68px;
$width-input: 230px;
$height-input: 37px;
$width-page-btn: 150px;
$height-page-btn: 40px;
$font-weight: 400;
$font-base-size: 14px;