@font-face{
    font-family: 'Kaushanscript', cursive;
    src: url(../font/Kaushan_Script/KaushanScript-Regular.ttf);
    font-weight: 500;
    font-size: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url(../font/montserrat-v13-latin-regular.woff;);
    src: url(../font/montserrat-v13-latin-regular.woff2);
    font-weight: normal;
    font-size: normal;
}

@font-face{
    font-family: 'Roboto';
    src: url(../font/roboto-v19-latin-regular.woff);
    src: url(../font/roboto-v19-latin-regular.woff2);
    font-weight: normal;
    font-size: normal;
}

.header{
    position: relative;
    width: 100%;
    height: 1000px;
    background-image: url(../img/Layer\ 15@1X-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cart, .glass{
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart{
    background-image: url(../img/SHOPPING\ CART@1X.png);
}

.glass{
    background-image: url(../img/MAGNIFYING\ GLASS@1X.png);
}

@media(min-resolution:192dpi), (min-resolution:2dppx){
    .header{
        background-image: url(../img/Layer\ 15@2X.png);
    }

    .cart{
        background-image: url(../img/SHOPPING\ CART@2X.png);
    }
    .glass{
        background-image: url(../img/MAGNIFYING\ GLASS@2X.png);
    }
}

.background-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-image: -webkit-gradient( linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background-image: -webkit-linear-gradient( bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: -o-linear-gradient( bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-image: linear-gradient( to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 80px;
    width: 1200px;
    margin: auto;
    margin-bottom: 162px;
}

.title{
    margin: 0;
}

.link-logo{
    font-family: "Montserrat-Regular", sans-serif;
    display: block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

.menu-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 492px;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.link-item{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat-Regular",sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.menu-item::after{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: '';
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    height: 3px;
    background-color: #FBDE8A;
    margin-top: 14px;
    opacity: 0;
}

.menu-item:hover:not(:nth-last-child(-n+2))::after{
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    opacity: 1;
}

.link-item:hover{
    color: #FBDE8A;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
}

.text{
    margin: 0;
    margin-bottom: 42px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    text-align: center;
    color: #ffffff;
}

.subtitle{
    margin: 0 auto;
    margin-bottom: 122px;
    width: 802px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 150px;
    text-transform: uppercase;
    text-align: center;
}

.header-link{
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 160px;
    text-decoration: none;
    padding-top: 20px;
    outline: solid 2px #ffffff;
    background-color: transparent;
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.container{
    width: 1140px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 68px;
    padding-bottom: 102px;
}

.text-services{
    font-family: "KaushanScript";
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: rgba(51, 51, 51, 255);
    margin: 0;
    margin-bottom: 22px;
}

.title-services{
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 255);
    font-weight: bold;
    margin: 0;
    margin-bottom: 70px;

}

.subline::after{
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    margin: auto;
    background-color: #f38181;
    margin-top: 42px;   
}

.item-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
}

.item{
    position: relative;
    text-align: start;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 340px;
            flex: 0 0 340px;
}

.item:nth-child(-n+3){
    margin-bottom: 102px;
}

.title-item::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../img/ALARM.svg);
    

}

.linear::before{
    background-image: url(../img/LINE\ GRAPH.svg);
}

.comp::before{
    background-image: url(../img/COMPUTER\ _\ OK.svg);
}

.book::before{
    background-image: url(../img/BOOK\ 2.svg);
}

.house::before{
    background-image: url(../img/HOME.svg);
}
.digital::before{
    background-image: url(../img/IMAGE.svg);
}

.title-item{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    margin: 0;
    margin-bottom: 20px;
    padding-left: 62px;
    text-transform: uppercase;
}

.text-item{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
    padding-left: 62px;
}

.team{
    margin: 0 auto;
    padding: 0;
    padding-bottom: 86px;
    text-align: center;
    line-height: 1.2;
    width: 1224px;
}

.text-team{
    font-family: "KaushanScript";
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: rgba(51, 51, 51, 255);
    margin: 0;
    margin-bottom: 22px;
}

.title-team{
    margin: 0;
    margin-bottom: 46px;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 255);
    font-weight: bold;
}

.title-team::after{
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    margin: auto;
    background-color: #f38181;
    margin-top: 42px;
}

.about-team{
    width: 940px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
    margin-bottom: 86px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.list-team{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-team{
    display: block;
}

.name-team{
    margin: 30px 0 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
    text-transform: uppercase;
}

.subtext-team{
    margin: 0;
    font-family: "Roboto";
    font-size: 15px;
    color: rgba(153, 153, 153, 255);
}

.overlay{
    position: absolute;
    width: 382px;
    height: 472px;
    opacity: 0; 
    z-index: 1;
    background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), to(rgba(252, 227, 138, 0.9)) );
    background-image: -webkit-linear-gradient( top, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100% );
    background-image: -o-linear-gradient( top, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100% );
    background-image: linear-gradient( to bottom, rgba(243, 129, 129, 0.9) 0%, rgba(252, 227, 138, 0.9) 100% );
    -webkit-transition: -webkit-transform 0.2s linear opacity 0.2s linear;
    transition: -webkit-transform 0.2s linear opacity 0.2s linear;
    -o-transition: transform 0.2s linear opacity 0.2s linear;
    transition: transform 0.2s linear opacity 0.2s linear;
    transition: transform 0.2s linear opacity 0.2s linear, -webkit-transform 0.2s linear opacity 0.2s linear;
      
}

.menu-team:hover .overlay{
    opacity: 1;
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-box-shadow:  10px 10px rgba( 149, 225, 211, 0.9 );
            box-shadow:  10px 10px rgba( 149, 225, 211, 0.9 );
}

.photo-team{
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    -o-transition: transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.menu-team:hover .photo-team{
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}

.list-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-btn{
    display: block;
    width: 56px;
    height: 56px;
    padding-top: 26px;
    text-align: center;
    line-height: 560px;
    background-color: #fce38a;
}

.list-overlay a:hover svg{
    fill: #ffffff;
}

.list-overlay svg{
    display: inline-block;
    width: 30px;
    height: 30px;
    fill: #f38181;
}



.page-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: auto;
    width: 1200px;
    height: 62px;
    border-top: 2px solid #e5e5e5;
}

.page-box{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: rgba(51, 51, 51, 255);
}

.subname{
    color: #f9c6c6;
}

.sign-up{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
}

.sign-up input{
    width: 230px;
    height: 37px;
    border: none;
    line-height: 40px;
    text-indent: 10px;
    border: solid 1px #D6D6D6;
}

.sign-up input::-webkit-input-placeholder{
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    color: #D6D6D6;
}
.sign-up input:-ms-input-placeholder{
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    color: #D6D6D6;
}
.sign-up input::-ms-input-placeholder{
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    color: #D6D6D6;
}
.sign-up input::placeholder{
    font-family: "Roboto";
    font-style: italic;
    font-size: 15px;
    color: #D6D6D6;
}

.page-btn{
    display: block;
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    border: none;
}