*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 1110px;
    margin: 0 auto;
}

.logo{
    float: left;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: #bcbbbb;
    text-decoration: none;
    margin-top: 30px;
}

.logo::first-letter{
    color: #1abc9c;
    font-weight: bold;
}

.menu{
    margin: 40px 0;
    padding: 0;
    float: right;
    list-style: none;
    font-size: 0;
}

.list{
    display: inline-block;
}

.list:not(:nth-child(6)){
    margin-right: 50px;
}

.link{
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: black;
    display: block;
}

.list:hover .link{
    color: #1abc9c;
}

main{
    margin: 0;
    padding: 0;
    width: 1600px;
    margin: 0 auto;
    background-color: #e9f0fd;
}

.box-slider{
    position: relative;
    width: 1600px;
    height: 583px;
    background-image: url(../img/slide4.jpg);
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.slider{
    position: absolute;
    width: 1600px;
    height: 583px;
    top: 0;
    left: 0;
    background-color: rgb( 0, 0, 2 ); 
    opacity: 0;
}

.box-slider:hover .slider{
    opacity: 0.522;
}

.title{
    position: absolute;
    width: 740px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 1;
}

.left, .right{
    position: absolute;
    top: 228px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    cursor: pointer;
    display: block;
    border: none;
    width: 104px;
    height: 104px;
    z-index: 1;
}

.left{
    left: 240px;
    background-image: url(../img/left@1X.png);

}

.right{
    right: 240px;
    background-image: url(../img/right@1X.png);
}

.left:hover {
    background-color: #4f9c8b;
}

.right:hover {
    background-color: #4f9c8b;
}

h1{
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.slider-menu{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}

h2{
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    font-size: 48pt;
    color: rgba(81, 81, 81, 255);
    text-align: center;
}

h2::after{
    display: block;
    background-color: rgba(26, 188, 156, 255);
    margin: 0 auto;
    margin-top: 30px;
    content: '';
    width: 164px;
    height: 7px;
}

.shop{
    /* position: relative; */
    margin: 0;
    padding: 0;
    width: 1200px;
    /* height: 650px; */
    margin: 0 auto;
    background-color: #e9f0fd;
}

.card{
    margin: 230px 0;
    padding: 0;
    font-size: 0;
    float: left;
    /* position: absolute; */
    /* left: 0; */
    /* top: 230px; */
}

.overlay{
    position: absolute;
    width: 255px;
    height: 282px;
    background-color: rgb( 0, 0, 2 ); 
    opacity: 0;
    border: 10px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.549);
}

.heart, .ikon, .clock{
    position: absolute;
    top: 84px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: solid 1px #fff;
}

.heart{
    left: 36px;
    background-image: url(../img/heart@1X.png);
}

.heart:hover {
    background-color: #1abc9c;
}

.ikon{
    left: 94px;
    background-image: url(../img/ikon@1X.png);
}

.ikon:hover{
    background-color: #1abc9c;
}

.clock{
    right: 34px;
    background-image: url(../img/clock@1X.png);
}

.clock:hover{
    background-color: #1abc9c;
}

.trash{
    position: absolute;
    bottom: 76px;
    left: 36px;
    width: 166px;
    height: 50px;
    background-image: url(../img/trash@1X.png);
    background-repeat: no-repeat;
    background-position: left;
    border: solid 1px #fff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 12pt;
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    text-align: end;
    padding-right: 10px;
    line-height: 50px;
}

.trash:hover{
    background-color: #323232;
}

.product-card{
    display: inline-block;
    list-style: none;
}

.product-card:not(:nth-child(4)){
    margin-right: 40px;
}

.product-card:hover .overlay{
    opacity: 1;
}

 a{
     display: block;
 }

 .product-name{
    position: relative;
    width: 255px;
    height: 40px;
    background-color: #323232;
    margin: 0;
    padding: 0;
}

.text{
    position: absolute;
    left: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    line-height: 40px;
    text-indent: 10px;
}

.price{
    position: absolute;
    right: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    width: 54px;
    height: 40px;
    background-color: #b1b0b0;
    text-align: center;
    line-height: 40px;
}

.product-card:hover .product-name{
    background-color: #1abc9c;
}

.product-card:hover .price{
    background-color: #7fd9c7;
}

 footer{
     position: relative;
     margin: 0 auto;
     width: 1600px;
     height: 88px;
     background-color: #323232;
     color: #fff;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-size: 16pt;
     padding-top: 38px;
 }

 .autor{
     position: absolute;
     right: 460px;
     top: 38px;
     color: #1abc9c;
 }